.scrollbtn {
  position: fixed;
  width: 100%;
  bottom: 40px;
  height: 20px;
  font-size: 2.5rem;
  z-index: 1;
  cursor: pointer;
  color: rgb(102, 163, 187);
  height: 45px;
  margin-left: 43%;
}
@media screen and (min-width: 425px) and (max-width: 630px) {
  .flexBox{
    width: auto;
  }
  .flexBox2{
    width: 300px;
  }
  
  
}
@media screen and (min-width: 375px) and (max-width: 425px) {
  
  .flexBox{
    width: auto;
  }
  .flexBox2{
    width: 300px;
  }
}

@media screen and (min-width: 200px) and (max-width: 375px) {
  
  .flexBox{
    width: auto;
  }
  .flexBox2{ 
    width: 250px;
  }
  .view{
    width: 100px;
  }
  
}

